//------------//
//   navbar   //
//------------//

nav {
  .uk-navbar-left {
    img {
      height: 45px;
    }
  }
}


//--------------//
//   Homepage   //
//--------------//

body.home {
  .uk-navbar-container {
    background: none;

    .uk-navbar {
      transition: all 0.5s ease-in-out;
      background-color: rgba(240, 241, 247, 1);
    }
    
    .uk-logo {
      a {
        position: relative;
      }
      img {
        transition: all ease 0.5s;
      }
      .light-logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
          opacity: 0;
          filter: contrast(0) brightness(1000%) grayscale(1);
        }
      }
    }

    input[type=text] {
      border-color: $text-color;
      border-width: 1px;
      border-style: solid;
      border-radius: 20px;
    }

    a {
      color: $text-color;
    }

    // Transparent changes
    &.uk-navbar-transparent {
      height: 0;
      .uk-navbar {
        background-color: rgba(240, 241, 247, 0);
      }
      .uk-logo {
        img {
          opacity: 0;
        }
        .light-logo img{
          opacity: 1;
        }
      }
      a {
        color: #fff;
      }
    }
  }
}

// Hero section

#hero_section {
  // background: rgb(83,33,183);
  // background: linear-gradient(45deg,  rgba(83,33,183,1) 0%,rgba(2,97,214,1) 100%);
  position: relative;

  .hero-colors-bg {
    background: rgb(83,33,183);
    background: linear-gradient(45deg,  rgba(83,33,183,1) 0%,rgba(2,97,214,1) 100%);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hero-bg {
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
  }

  .hero-texts {
    padding-top: 80px;

    h1, h2 {
      font-size: 46px;
      margin-bottom: 0;
      line-height: 0.95;
      font-weight: 700;
    }
    h2 {
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 20px;
    }
  }
}