
// Imports
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: "Sailec";
  src: url("fonts/sailec/bold.ttf")
}

/* Responsive media query mixins */
@mixin viewport($point) {
	@if $point == desktop {
		@media ( min-width: 961px ) { @content; }
	}
	@else if $point == tablet {
		@media ( max-width: 960px )  { @content; }
	}
	@else if $point == mobile {
		@media ( max-width: 640px )  { @content; }
	}
	@else if $point == largedesktop {
		@media ( min-width: 1600px )  { @content; }
  }
  @else if $point == xlargedesktop {
		@media ( min-width: 2400px )  { @content; }
	}
}

/*-----viewport samples for copy/paste-----------*/
/*
@include viewport(mobile) {
}
@include viewport(tablet) {
}
@include viewport(desktop) {
}
@include viewport(largedesktop) {
}
@include viewport(xlargedesktop) {
}
*/


// Body and base
body {
  font-family: 'DM Sans', sans-serif;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
}

/*-----colors-------*/

$primary: #009EE2;

$text-color: #262626;

$bg-gray: #36363a;

$box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

$primary-gradient: linear-gradient(45deg,  rgba(83,33,183,1) 0%,rgba(2,97,214,1) 100%);
$primary-gradient-hover: linear-gradient(-45deg,  rgba(83,33,183,1) 0%,rgba(2,97,214,1) 100%);

$text-shadow: 0px 5px 10px rgba(0,0,0,0.41);

$border-radius: 0.6rem;